<div class="p-4 mb-4 rounded widget-contact">
    <h4 class="fst-italic">contact</h4>
    <p class="mb-0"> Coucou</p>
    <hr>

    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #3b5998; font-size:15px;" href="#" role="button">
        <i class="fab fa-facebook-f"> Facebook</i>
    </a>

    <!-- Instagram -->
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac;  font-size:15px;" href="#!" role="button"
    ><i class="fab fa-instagram"> Instagram</i
        ></a>
    <br>
    <br>
    <!-- Whatsapp -->
        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #25d366; font-size:15px;" href="https://wa.me/22789899098" role="button"
    ><i class="fab fa-whatsapp"> Whatsapp</i
        ></a>
    <a class="btn btn-primary  btn-lg btn-floating" style="background-color: #55acee; font-size:15px;" href="#" role="button"
    ><i class="fab fa-twitter"></i> Twitter</a>
</div>